  <div id="container">
    <h2><span>info</span>lager</h2>
    <p>Es una base de datos. Aunque ésta no está implementada todavía. Se basa en almacenar información de la audiencia que tiene el blog nuestro. Sobretodo intentamos relacionar diversas categorías o temas de nuestro blog con la audiencia que muestra <a href="http://google.com/analytics"><span>Google Análisis</span></a>.</p>
    <p>Hacemos esto para tener una idea si la <span>democracia</span> realmente se hace realidad en internet y nuestra opinión es tener alcance <span>global</span> cuantificado.</p>
    <p>En la barra al costado damos un par de consejos sobre cómo etiquetear las entradas del blog para aparecer en <span>primera</span> página de los resultados de <span>Google</span>. La información va a ser completada con unas recetas que encontré para indexar también a través de <span>bing</span>, pero no he tenido tiempo de leer el material aún.</p>
    <!--<ol>
      <li><a href="#"><strong>Como indexar con Google</strong></a> </li>
      <li><a href="#"><strong>Como indexar con bing</strong> </a></li>
    </ol>-->
    <p class="more"><a href="#">more</a></p>
    <!--<h3><span>new</span> books</h3>
    <div id="bookcatagories">
      <div id="namePan">Name</div>
      <div id="pricePan">price</div>
      <div id="discountPan">discount</div>
      <div id="nameonePan">
        <ul>
          <li>lorem ipsum dolor</li>
          <li>Amet,conseAdipiscin</li>
          <li>Elit Donec mol</li>
          <li>Bibendum nunc.Lorem</li>
          <li>Lpsum dolor</li>
          <li>Sit amet,Consectetuer</li>
          <li>Adipiscinrt.Integer</li>
          <li>Enim vel mi.Vivamus</li>
          <li>Atmi.Ut</li>
        </ul>
      </div>
      <div id="priceonePan">
        <ul>
          <li>$20</li>
          <li>$20</li>
          <li>$25</li>
          <li>$20</li>
          <li>$35</li>
          <li>$30</li>
          <li>$29</li>
          <li>$40</li>
          <li>$25</li>
        </ul>
      </div>
      <div id="discountonePan">
        <ul>
          <li>10%</li>
          <li>10%</li>
          <li>10%</li>
          <li>10%</li>
          <li>15%</li>
          <li>15%</li>
          <li>20%</li>
          <li>20%</li>
          <li>20%</li>
        </ul>
      </div>
    </div>
    <div id="bodyLeftNextPan">
      <p class="next"><a href="#">next</a></p>
    </div>-->
  </div>