<div id="topPan"> <a href="#"><img src="{{ site.url }}/images/infolager.png" alt="Infolager" width="245" height="37" border="0"  class="logo" title="Infolager" /></a>
  <p>Nosotros no lo falsificamos. Simplemente lo tomamos!</p>
  <div id="topContactPan"><a href="./contacto.html">Contacto</a> </div>
  <div id="topMenuPan">
    <div id="topMenuLeftPan"></div>
    <div id="topMenuMiddlePan">
      <ul>
        <li><a href="{{ site.url }}/index.html">Inicio</a></li>
        <li><a href="{{ site.url }}/quienes.html">Quienes</a></li>
        <!--<li><a href="#">Support</a></li>-->
        <!--<li><a href="#">books</a></li>-->
        <!--<li><a href="#">university</a></li>-->
        <li class="active"><a href="{{ site.url }}/entradas.html">Entradas</a></li>
        <li><a href="{{ site.url }}/ideas.html">Ideas</a></li>
        <li><a href="{{ site.url }}/contacto.html">Contacto</a></li>
      </ul>
    </div>
    <div id="topMenuRightPan">
	</div>
  </div>
</div>