<div id="footermainPan">
  <div id="footerPan">
    <ul>
      <li><a href="{{ site.url }}/index.html">Inicio</a>| </li>
      <li><a href="{{ site.url }}/index.html">Quienes</a>| </li>
      <!--<li><a href="#">Support</a>| </li>
      <li><a href="#">Books</a>| </li>
      <li><a href="#">University</a>| </li>-->
      <li><a href="{{ site.url }}/entradas/">Entradas</a>| </li>
      <li><a href="{{ site.url }}/ideas/">Ideas</a>| </li>
      <li><a href="{{ site.url }}/contacto/">Contacto</a> </li>
    </ul>
    <p class="copyright"><span style="color:#a4a4f4;">© InfoLager.tk All right reserved.</span></p>
    <ul class="templateworld">
      <li><span style="color:#a4a4f4;">design by:</span></li>
      <li><a href="http://www.templateworld.com" target="_blank"><span style="color:#a4a4f4;">Template World</span></a></li>
    </ul>
    <div id="footerPanhtml"><a href="http://validator.w3.org/check?uri=referer" target="_blank">HTML</a></div>
    <div id="footerPancss"><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">css</a></div>
  </div>
</div>