<div id="footermainPan">
  <div id="footerPan">
    <ul>
      <li><a href="#">Home</a>| </li>
      <li><a href="#">About us</a>| </li>
      <!--<li><a href="#">Support</a>| </li>
      <li><a href="#">Books</a>| </li>
      <li><a href="#">University</a>| </li>-->
      <li><a href="#">Blog</a>| </li>
      <li><a href="#">Ideas</a>| </li>
      <li><a href="#">Contact</a> </li>
    </ul>
    <p class="copyright">© InfoLager.tk All right reserved.</p>
    <ul class="templateworld">
      <li>design by:</li>
      <li><a href="http://www.templateworld.com" target="_blank">Template World</a></li>
    </ul>
    <div id="footerPanhtml"><a href="http://validator.w3.org/check?uri=referer" target="_blank">HTML</a></div>
    <div id="footerPancss"><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">css</a></div>
  </div>
</div>