<div id="topPan"> <a href="#"><img src="{{ site.url }}/images/infolager.png" alt="Infolager" width="245" height="37" border="0"  class="logo" title="Infolager" /></a>
  <p>Nosotros no lo falsificamos. Simplemente lo tomamos!</p>
  <div id="topContactPan"> </div>
  <div id="topMenuPan">
    <div id="topMenuLeftPan"></div>
    <div id="topMenuMiddlePan">
      <ul>
        <li class="Inicio"><a href="{{ site.url }}/index.html>Inicio</a></li>
        <li><a href="#">Quienes</a></li>
        <!--<li><a href="#">Support</a></li>-->
        <!--<li><a href="#">books</a></li>-->
        <!--<li><a href="#">university</a></li>-->
        <li><a href="{{ site.url }}/entradas.html">Entradas</a></li>
        <li><a href="#">Ideas</a></li>
        <li><a href="#" class="contact">Contacto</a></li>
      </ul>
    </div>
    <div id="topMenuRightPan"></div>
  </div>
</div>