<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Education Zone</title>
<link href="{{ site.url }}/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ "{{ site.url }}/assets/main.css" | relative_url }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108514227-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108514227-1');
</script>

</head>