  <div id="bodyRightPan">
    <h2><span>index</span> Google</h2>
    <ol>
      <li><a href="{{ site.url }}/googleanalisis.html"><span class="boldtext"><strong>Crear cuenta en Google Análisis</strong></span></a> </li><br>
      <li><a href="{{ site.url }}/googlesearchconsole.html"><span class="boldtext"><strong>Crear cuenta en Google Search Console</strong></span></a> </li><br>
      <li><a href="{{ site.url }}/linquiar.html"><span class="boldtext"><strong>Linquiar ambas cuentas</strong></span></a> </li><br>
      <li><a href="{{ site.url }}/iniciarindex.html"><span class="boldtext"><strong>Pedir que Google indexe mi página</strong></span></a> </li><br>
      <li><a href="{{ site.url }}/googletagmanager.html"><span class="boldtext"><strong>Usar Google Tag Manager</strong></span></a> </li><br>
      <li><a href="{{ site.url }}/schemaorgtags.html"><span class="boldtext"><strong>Consultar los tags de schema.org </strong></span></a> </li><br>
      <li><a href="{{ site.url }}/herramientatagsearchconsole.html"><strong>Utilizar herramienta de tags en Google Search Console</strong></span></a> </li>
    </ol>
  </div>
    <!--<h3><span>latest</span> updates</h3>
    <p class="boldtext">on 03rd october 2006</p>
    <p>lorem ipsum dolor sit Ametert, consectetue Adipiscingelitedo mol Bibendum</p>
    <p class="more"><a href="#">more</a></p>
    <p class="boldtext">on 03rd october 2006</p>
    <p>lorem ipsum dolor sit Ametert, consectetue Adipiscingelitedo mol Bibendum</p>
    <p class="more"><a href="#">more</a></p>